<!DCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title> خطا از سمت سرور</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/css/bootstrap.min.css" />
    <link rel="stylesheet" href="/css/bootstrap-rtl.min.css" />
</head>
<body>
<div class="container mt-5" >
    <h2> 500:</h2>
    <h4>خطا از سمت سرور...  </h4>
    <code>از ویوی 500.ejs</code>
</div>
</body>
</html>